In [30]:
stocks = ["ADANIPORTS.NS", "APOLLOHOSP", "ASIANPAINT"]
date = "2023-05-03"

In [1]:
import yfinance as yf

In [2]:
dir(yf)

['Ticker',
 'Tickers',
 '__all__',
 '__author__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'base',
 'data',
 'download',
 'exceptions',
 'multi',
 'pdr_override',
 'scrapers',
 'set_tz_cache_location',
 'shared',
 'ticker',
 'tickers',
 'utils',
 'version']

In [4]:
Apollo = yf.Ticker("APOLLOHOSP.NS")

In [5]:
Apollo

yfinance.Ticker object <APOLLOHOSP.NS>

In [6]:
dir(Apollo)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_analysis',
 '_base_url',
 '_data',
 '_download_options',
 '_earnings',
 '_earnings_dates',
 '_expirations',
 '_fast_info',
 '_fetch_ticker_tz',
 '_financials',
 '_fix_unit_mixups',
 '_fix_zeroes',
 '_fundamentals',
 '_get_ticker_tz',
 '_history',
 '_history_metadata',
 '_holders',
 '_isin',
 '_news',
 '_options2df',
 '_quote',
 '_reconstruct_intervals_batch',
 '_scrape_url',
 '_shares',
 '_tz',
 'actions',
 'analyst_price_target',
 'balance_sheet',
 'balancesheet',
 'basic_info',
 'calendar',
 'capital_gains',
 'cash_flow',
 'cashflow',
 'dividends',
 'earnings',
 'earnings_dates',
 'earnings_forecasts',
 'earnings_trend',
 'fast_info',
 'financials',
 'get_actions',
 'get_analyst_price_target',
 'get_balance_sheet',
 'get_balancesheet',
 'get_calendar',
 'get_capital_gains',
 'get_cash_flow',
 'get_cashflow',
 'get_dividends',
 'get_earnings',
 'get_earnings_dates',
 'get_earnings_forecast',
 'get_earnings_trend',
 'get_financials',
 'get_history_metadata',
 'get_income_stmt',
 'get_incomestmt',
 'get_info',
 'get_institutional_holders',
 'get_isin',
 'get_major_holders',
 'get_mutualfund_holders',
 'get_news',
 'get_recommendations',
 'get_recommendations_summary',
 'get_rev_forecast',
 'get_shares',
 'get_shares_full',
 'get_splits',
 'get_sustainability',
 'get_trend_details',
 'history',
 'history_metadata',
 'income_stmt',
 'incomestmt',
 'info',
 'institutional_holders',
 'isin',
 'major_holders',
 'mutualfund_holders',
 'news',
 'option_chain',
 'options',
 'quarterly_balance_sheet',
 'quarterly_balancesheet',
 'quarterly_cash_flow',
 'quarterly_cashflow',
 'quarterly_earnings',
 'quarterly_financials',
 'quarterly_income_stmt',
 'quarterly_incomestmt',
 'recommendations',
 'recommendations_summary',
 'revenue_forecasts',
 'session',
 'shares',
 'splits',
 'stats',
 'sustainability',
 'ticker']

In [7]:
Apollo.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-04-03 00:00:00+05:30,4343.500000,4343.950195,4220.149902,4234.350098,493574,0.0,0.0
2023-04-05 00:00:00+05:30,4250.000000,4250.000000,4168.000000,4200.950195,622533,0.0,0.0
2023-04-06 00:00:00+05:30,4217.000000,4225.000000,4183.149902,4201.950195,286725,0.0,0.0
2023-04-10 00:00:00+05:30,4215.000000,4243.649902,4187.299805,4237.000000,323560,0.0,0.0
2023-04-11 00:00:00+05:30,4263.000000,4286.799805,4221.149902,4271.299805,284178,0.0,0.0
2023-04-12 00:00:00+05:30,4287.700195,4328.950195,4266.500000,4320.200195,304498,0.0,0.0
2023-04-13 00:00:00+05:30,4329.000000,4481.100098,4320.299805,4398.299805,1257056,0.0,0.0
2023-04-17 00:00:00+05:30,4410.000000,4448.399902,4340.000000,4386.700195,334963,0.0,0.0
2023-04-18 00:00:00+05:30,4380.000000,4384.100098,4293.899902,4338.649902,409038,0.0,0.0
2023-04-19 00:00:00+05:30,4355.000000,4355.000000,4221.549805,4320.299805,517278,0.0,0.0
2023-04-20 00:00:00+05:30,4320.299805,4358.850098,4233.149902,4348.399902,484517,0.0,0.0
2023-04-21 00:00:00+05:30,4340.000000,4428.000000,4318.450195,4361.299805,485292,0.0,0.0
2023-04-24 00:00:00+05:30,4362.299805,4462.200195,4362.299805,4399.049805,571150,0.0,0.0
2023-04-25 00:00:00+05:30,4409.950195,4446.250000,4383.100098,4416.500000,252655,0.0,0.0
2023-04-26 00:00:00+05:30,4419.950195,4488.700195,4401.000000,4410.399902,438486,0.0,0.0
2023-04-27 00:00:00+05:30,4419.850098,4438.500000,4365.049805,4417.500000,400508,0.0,0.0
2023-04-28 00:00:00+05:30,4442.950195,4529.000000,4430.950195,4513.700195,713399,0.0,0.0
2023-05-02 00:00:00+05:30,4529.750000,4573.299805,4476.899902,4490.799805,384900,0.0,0.0
2023-05-03 00:00:00+05:30,4509.750000,4524.450195,4482.000000,4493.200195,119443,0.0,0.0

In [8]:
help(Apollo.history)

Help on method history in module yfinance.base:

history(period='1mo', interval='1d', start=None, end=None, prepost=False, actions=True, auto_adjust=True, back_adjust=False, repair=False, keepna=False, proxy=None, rounding=False, timeout=10, debug=True, raise_errors=False) -> pandas.core.frame.DataFrame method of yfinance.ticker.Ticker instance
    :Parameters:
        period : str
            Valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
            Either Use period parameter or use start and end
        interval : str
            Valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
            Intraday data cannot extend last 60 days
        start: str
            Download start date string (YYYY-MM-DD) or _datetime, inclusive.
            Default is 1900-01-01
            E.g. for start="2020-01-01", the first data point will be on "2020-01-01"
        end: str
            Download end date string (YYYY-MM-DD) or _datetime, exclusive.
            Default is now
            E.g. for end="2023-01-01", the last data point will be on "2022-12-31"
        prepost : bool
            Include Pre and Post market data in results?
            Default is False
        auto_adjust: bool
            Adjust all OHLC automatically? Default is True
        back_adjust: bool
            Back-adjusted data to mimic true historical prices
        repair: bool or "silent"
            Detect currency unit 100x mixups and attempt repair.
            If True, fix & print summary. If "silent", just fix.
            Default is False
        keepna: bool
            Keep NaN rows returned by Yahoo?
            Default is False
        proxy: str
            Optional. Proxy server URL scheme. Default is None
        rounding: bool
            Round values to 2 decimal places?
            Optional. Default is False = precision suggested by Yahoo!
        timeout: None or float
            If not None stops waiting for a response after given number of
            seconds. (Can also be a fraction of a second e.g. 0.01)
            Default is 10 seconds.
        debug: bool
            If passed as False, will suppress
            error message printing to console.
        raise_errors: bool
            If True, then raise errors as
            exceptions instead of printing to console.

In [9]:
type(Apollo.history())

pandas.core.frame.DataFrame

In [10]:
Apollo.history().head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-04-03 00:00:00+05:30,4343.5,4343.950195,4220.149902,4234.350098,493574,0.0,0.0
2023-04-05 00:00:00+05:30,4250.0,4250.000000,4168.000000,4200.950195,622533,0.0,0.0
2023-04-06 00:00:00+05:30,4217.0,4225.000000,4183.149902,4201.950195,286725,0.0,0.0
2023-04-10 00:00:00+05:30,4215.0,4243.649902,4187.299805,4237.000000,323560,0.0,0.0
2023-04-11 00:00:00+05:30,4263.0,4286.799805,4221.149902,4271.299805,284178,0.0,0.0

In [11]:
Apollo.history().columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [18]:
from datetime import datetime

# Prompt user for date in format YYYY-MM-DD
date_string = input("Please enter the date (in format YYYY-MM-DD): ")

# Convert the user input into a date object
date = datetime.strptime(date_string, "%Y-%m-%d").date()

# Print the date object
print("Date entered:", date)

Please enter the date (in format YYYY-MM-DD): 2000-09-06
Date entered: 2000-09-06

In [27]:
cPrice = yf.download(stocks,'2023-05-02')['Adj Close']

[*********************100%***********************]  1 of 1 completed

In [28]:
adports.head()

Date
2023-05-02    681.5
2023-05-03    677.0
Name: Adj Close, dtype: float64